* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.wrapper {
  margin: 0 auto;
  width: 1750px;
  height: 800px;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url(./background/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-image: linear-gradient(#97d4f0, #f3f7ef);
  height: 1005px;
}

header {
  text-align: center;
  padding-top: 50px;
  //  text-align: center;
}

header img {
  width: 400px;
}
@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
#menu {
  margin: 0 auto;
  padding: 50px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#menu a {
  font: Danjo-bold-Regular;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
  color: black;
}
