* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.wrapper {
  /* margin: 0 auto;
  width: 1750px;
  height: 800px;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.5)
    ),
    url(./background/background2.png);
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0 auto;
  width: 1750px;
  height: 2238px;
  background: #fdf6d6 url(./background/background2.png) no-repeat center 0;
  background-size: 1750px;
}

.background {
  background-image: linear-gradient(#97d4f0, #f3f7ef);
  height: 2400px;
}

header {
  /* text-align: center; */
  padding-top: 50px;
  margin-bottom: 22px;
  //  text-align: center;
}

header img {
  width: 400px;
}

#charSel img {
  max-width: 395px;
  min-width: 250px;
  //  max-height: 500px;
  padding: 12px;
}

#charSel {
  /* display: flex; */
}

figure {
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin-bottom: 18px;
}

figcaption {
  font-size: 24px;
  padding-left: 12px;
  margin-top: 8px;
  //  position: absolute;
  /* margin-top: 515px;
  margin-left: 40px; */
}
